.modal-backdrop {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}

.modal-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    background-color: rgb(255, 255, 255, 1);
    border-radius: 20px;
}

.modal-title {
    font-size: 30px;
}

.modal-button {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-button {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(255, 34, 34);
    color: #ffffff;
}