#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.menu_icon {
  padding-top: 0px;
  width: 60px;
}

.nav_menu {
  width: '20%';
  text-align: left;
  background-color: rgb(152, 189, 253);
}

.nav_btn_hl {
  background-image: linear-gradient(to right, rgb(171, 202, 255), rgb(61, 132, 255));
  background-color: rgb(61, 132, 255);
  border-radius: 0px 40px 40px 0px;
  height: 70px;
  margin-right: 5px;
}

.nav_btn_hl > img {
  margin-left: 35%;
  height: auto;
}

.page-content {
  display: 'flex-column'; 
  width: 100%;
}

.page-header {
  font-size: 25px;
  color: rgb(255, 255, 255);
  /*background-color: rgb(61, 132, 255);*/
  background-image: linear-gradient(to bottom, rgb(171, 202, 255), rgb(61, 132, 255));
  margin: 5px;
  padding: 10px;
  padding-right: 5px;
  border-radius: 10px;
}

.page-body {
  padding: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
    /*background-color: green;
    border-top: 2px solid red;*/
    position: fixed;
    text-align: right;
    height: 80px;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
}

.form-input {
  display: 'flex-row'; 
  margin-bottom: 5px;
}

.input-lbl {
  font-size: 15px;
  padding: 5px;
  width: 20%;
}

.input-box {
  position: relative;
  margin-left: auto;
  margin-right: 0px;
  font-size: 15px;
  padding: 5px;
  width: 80%;
}